<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436225124931-ggieolm2n30ibcfsoeiom43rt3d3hqba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436225124931-ggieolm2n30ibcfsoeiom43rt3d3hqba</string>
	<key>API_KEY</key>
	<string>AIzaSyBdkGDgfjRrhHvry25xgWcaqy3j0pm5muo</string>
	<key>GCM_SENDER_ID</key>
	<string>436225124931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dinhplnguyen.Week9Publish</string>
	<key>PROJECT_ID</key>
	<string>week9-publish</string>
	<key>STORAGE_BUCKET</key>
	<string>week9-publish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436225124931:ios:c3efded7727ca5b57682f6</string>
</dict>
</plist>